{% extends "TeamAdmin/base.html" %}

{% load static %}

{% block content %}

    <!-- Centro de pagina -->
    <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'TeamAdmin/img/quienesSomos.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">¿Quienes Somos?</span>
          </h2>

        </div>
      </div>
    </div>
    </section>



    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Mision</span>
              </h2>
              <p class="mb-0">Somos una empresa que proporciona a nuestros clientes servicios de alta calidad, y personal calificado para entregar un producto final que cumpla con las necesidades de nuestros clientes.<p>
              <br>
            </div>
            <br>
            <br>
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Visión</span>
              </h2>
              <p class="mb-0">Para el 2025 queremos consolidarnos en el medio como la empresa que  brinda la solución ideal y oportuna para las necesidades de nuestros clientes, siendo la empresa proveedora y prestadora de servicios de gestion deportiva más importante de la región.</p>
            </div>
            <br>
            <br>
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Contacto</span>
              </h2>
              <dd>&copy; Gestión Deportiva 2020</dd>
			  <dd>Tel. 238 98 57</dd>
			  <dd>administracion@gestionDeportiva.com</dd>
			  <dd>Cordoba - Argentina</dd>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}