{% extends "TeamAdmin/base.html" %}

{% load static %}

{% block content %}
	<section class="container" >
		<section class="page-section cta">
			<dt>Misión</dt>
			<dd>Somos una empresa que proporciona a nuestros clientes productos y servicios de construcción contando con materiales y equipos de alta calidad, y personal calificado para entregar un producto final que cumpla con las necesidades de nuestros clientes.</dd>
		</section>
		<section class="page-section cta">
			<dt>Visión</dt>
			<dd>Para el 2017 queremos posicionarnos como la empresa líder en mantenimiento industrial y consolidarnos en el medio como la empresa que  brinda la solución ideal y oportuna para las necesidades de nuestros clientes, siendo la empresa proveedora y prestadora de servicios de construcción y suministro de materiales mas importante de la región. </dd>
		</section>
		<section class="page-section cta">
			<dt>Portafolio: tenemos 3 líneas de negocio</dt>
			<br>
			<ul id="lista"><b>Materiales de Construcción</b>
				<li>Drywall</li>
                <li>Cemento</li>
                <li>Material de Playa</li>
                <li>Bloques</li>
                <li>Adobes</li>
                <li>Estucos</li>
                <li>Vinilos</li>
                <li>Tubería</li>
                <li>Recubrimiento y pintura epóxica</li>
                <li>Materiales de impermeabilización</li>
                <li>Herramienta menor</li>
                <li>Otros</li>
			</ul>
			<br>
			<dt>Servicios Constructivos</dt>
			<dd><p><b>Obra civil:</b> Proyectos de diferentes envergaduras, desde proyectos de alto presupuesto hasta pequeñas reformas. Trabajos de estructuras y carpintería metálica.</p>
			</br>
			<p><b>Aplicaciones:</b> Tenemos diferentes soluciones para toda clase de patologías. Ej: reparación de pisos, paredes, control de humedades, impermeabilizaciones, rehabilitación estructurales con fibras de carbono.</p> </dd>
			<br>
			<dt>Diseños y Ambientación de Espacios</dt>
			<dd>Diseño y reorganización de espacios comerciales y viviendas; para empresas y particulares.</dd>
		</section>
	</section >
	<div class="intro">
			<dd>M&ES Construcciones</dd>
			<dd>Tel. 238 98 57</dd>
			<dd>direcciongeneral@miesconstrucciones.com</dd>
			<dd>Medellín - Colombia</dd>
		</div>

{% endblock %}